<% content_for :title, "tanpiku.github.io" %>

<ul id="scene">
  <li class="layer" data-depth="0.2">
    <div class="background"></div>
  </li>
  <li class="layer" data-depth="0.2">
    <div class="ph muted">source web code: <a href="https://github.com/KyloCode"></div>
  </li>
  <li class="layer" data-depth="0.4">
    <div class="center">
      <h1>Tanpiku</h1>
      <p class="big">
        <a target="_black" href="http://instagram.com/tanpiku"><i class="fa fa-instagram"></i></a> &nbsp;
        <a target="_black" href="http://reddit.com/user/Tanpiku"><i class="fa fa-reddit"></i></a> &nbsp;
        <a target="_black" href="https://twitter.com/xTheMasterCow"><i class="fa fa-twitter"></i></a> &nbsp;
        <a target="_black" href="https://github.com/Tanpiku"><i class="fa fa-github"></i></a> &nbsp;
      </p>
    </div>
  </li>
</ul>