<% content_for :title, "tanpiku.github.io" %>

<ul id="scene">
  <li class="layer" data-depth="0.2">
    <div class="background"></div>
  </li>
  <li class="layer" data-depth="0.2">
    <div class="ph muted">source web code: <a href="https://github.com/KyloCode"></div>
  </li>
  <li class="layer" data-depth="0.4">
    <div class="center">
      <h1>tanpiku.github.io</h1>
      <p class="big">
        <a target="_black" href="http://timer.kylo.io"><i class="fa fa-clock-o"></i></a> &nbsp;
        <a target="_black" href="http://space.kylo.io"><i class="fa fa-rocket"></i></a> &nbsp;
        <a target="_black" href="https://twitter.com/KyloCode"><i class="fa fa-twitter"></i></a> &nbsp;
        <a target="_black" href="https://github.com/KyloCode"><i class="fa fa-github"></i></a> &nbsp;
        <a target="_black" href="http://avicus.net"><i class="fa fa-gamepad"></i></a>
      </p>
    </div>
  </li>
</ul>